node_modules/
apps/admin/dist/
apps/admin/node_modules/
apps/api/vendor/
apps/api/node_modules/
apps/api/.env
apps/api/storage/*.key
apps/api/storage/logs/*
apps/api/storage/framework/cache/*
apps/api/storage/framework/sessions/*
apps/api/storage/framework/views/*
apps/api/bootstrap/cache/*
!apps/api/storage/logs/.gitignore
!apps/api/storage/framework/cache/.gitignore
!apps/api/storage/framework/sessions/.gitignore
!apps/api/storage/framework/views/.gitignore
.DS_Store
*.log
.idea/
.vscode/
.cursor/
.cursor/**
