.block-discover-announcement .background-image {
    background-image: url('/img/bg-image-2.png');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.block-discover-announcement .button {
    display: inline-flex;
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #0768B3;
    color: white;
    padding: 15px 50px;
    min-width: 200px;
    width: fit-content;
    max-width: 100%;
    min-height: 60px;
    font-size: 20px;
}

.block-discover-announcement .button-round {
    border: none;
    border-radius: 50%;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    /*margin: 4px 2px;*/
    cursor: pointer;
    background-color: #0768B3;

    width: 50px !important;
    height: 50px !important;
}

.block-discover-announcement .button-text {
    font-size: 20px;
    font-weight: 300;
}

.block-discover-announcement .content {
    background: rgba(76, 157, 202, 0.8);
}

.block-discover-announcement .date-text {
    font-size: 16px;
    font-weight: 300;
}

.block-discover-announcement .header {
    font-size: 48px;
    font-weight: 300;
}

.block-discover-announcement .highlight-text {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
}

.block-discover-announcement .link-text {
    color: #fff;
}

.block-discover-announcement .link-text-red {
    color: #ff0000;
    text-decoration: none;
}

.block-discover-announcement .padding-top {
    padding-top: 7px;
}

.block-discover-announcement .padding-left-right {
    padding: 0px 50px;
}

.block-discover-announcement .announcement-list {
    position: relative;
}

/* carousel btn */
.block-discover-announcement .carousel-button-prev,
.block-discover-announcement .carousel-button-next {
    position: absolute;
    top:50%;
    width: 5rem;
    height: 5rem;
    background-color: #0768B3;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer; 
    z-index: 2;
}

.block-discover-announcement .carousel-button-prev {
    left: -5px;
}

.block-discover-announcement .carousel-button-next {
    right: -5px;
}

.block-discover-announcement .carousel-button-next img,
.block-discover-announcement .carousel-button-prev img {
    position: absolute;
    top: 50%;
    left: 50%;
}

.block-discover-announcement .carousel-button-next img {
    transform: translate(-50%, -50%) rotate(90deg);
}

.block-discover-announcement .carousel-button-prev img {
    transform: translate(-50%, -50%) rotate(-90deg);
}
/* carousel btn end */

@media (max-width: 577.98px) {
    .block-discover-announcement .button {
        padding: 15px 20px;
    }
}

@media only screen and (max-width: 400px) {
    .block-discover-announcement .overflow {
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
    }
}