.irlBlockAffinDiventiumCTA .irlBlockAffinDiventiumCTAGreyBg {
  background: #E7E6E6;
}

.irlBlockAffinDiventiumCTA .irlBlockAffinDiventiumCTATitle {
  color: #AC8B3F;
  font-weight: 700;
  font-size: 20px;
}