.block-affin-deventium-image-top-text-bottom .card-image {
    width: 100%;
    max-width: 600px;
}

.block-affin-deventium-image-top-text-bottom .header-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #AC8B3F;
}

.block-affin-deventium-image-top-text-bottom .content-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
}