@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.block-affin-hwang-navigation-link .navigation-link-text {
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
}

.block-affin-hwang-navigation-link .navigation-link-hr {
    width: 99px;
    height: 3px;
    background-color: #FF0000;
    border: none;
    margin: 0;
}

.block-affin-hwang-navigation-link .navigation-link-navItem{
    color: #FF0000;
}