.block-affin-group-3-tabs .tab-col {
    cursor: pointer;
    padding: 0;
    text-align: center;
    text-align: -webkit-center;
}

.block-affin-group-3-tabs .tab-title.active {
    font-weight: 700 !important;
    color: #444444 !important;
    border-bottom: 3px solid #333333;
}

.block-affin-group-3-tabs .tab-title {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0;
    color: #999999;
    min-width: max-content;
    margin: 0 10px;
}

.block-affin-group-3-tabs .tabs-container {
    padding: 3rem 5vw 0 !important;
    margin: 0 auto !important;
    justify-content: center;
    border-bottom: 1px solid #B1B1B120;
}

.block-affin-group-3-tabs .width-fit-content {
    width: fit-content;
}
