.__range-step-salary-range input
{
    outline: none;
    -webkit-appearance: media-slider; 
    background-color: #fff;
    height: 8px;
    width: 100%;
    margin: 10px auto;
}
.__range-step-salary-range input::-webkit-slider-thumb
{
    /* //-webkit-appearance: none; */
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    cursor: -moz-grab;
    cursor: -webkit-grab; 
}            
.__range-step-salary-range input::-moz-range-thumb
{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    cursor: -moz-grab;
    cursor: -webkit-grab; 
}
.__range-step-salary-range input::-ms-thumb
{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    cursor: -moz-grab;
    cursor: -webkit-grab; 
}
.__range-step-salary-range{
    position: relative;                
}

.__range-max{
    float: right;
}
.__range-step-salary-range input::-webkit-slider-thumb
{
    background: transparent;
}            
.__range-step-salary-range input::-moz-range-thumb
{
    background: transparent;
}
.__range-step-salary-range input::-ms-thumb
{
    background: transparent;
}
.__range-step-salary-range datalist {
    position:relative;
    display: flex;
    justify-content: space-between;
    height: auto;
    bottom: 30px;
    /* disable text selection */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */                
    user-select: none; /* Standard */
    /* disable click events */
    pointer-events:none;  
}
.block-affin-always-salary-range .__range-step-salary-range datalist option {
    width: 30px;
    height: 30px;
    min-height: 20px;
    border-radius: 100px;
    /* hide text */
    white-space: nowrap;       
    padding:0;
    line-height: 130px;
    color: #fff;
    font-size: 25px;
}
.__range-step-popup .__range-output-square{
    padding: 0 5px; 
    min-width: 25px;
    width: auto !important;                
    border-radius: 5px !important;
}
.__range-step-popup output:after 
{ 
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: 90%;
    left: 50%;
    margin-left: -10px;
    margin-top: -1px;
}
.__range-step-salary-range{
    margin:0 40px;
}
.__range-step-popup{
    margin:40px 40px;
}
/* Block Range */

.block-affin-always-salary-range .bg-color {
    background-color: #0768B3;
}

.block-affin-always-salary-range p, .block-affin-always-salary-range h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
}
.block-affin-always-salary-range p.how-much{
    font-size: 15px;
}
.block-affin-always-salary-range p.income{
    font-size: 20px;
}

.block-affin-always-salary-range h2{
    font-size: 35px;
}

.block-affin-always-salary-range .default-button{
    background-color: #fff;
    color: #0768B3;
    width: 200px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}