.block-discover-promotions-with-icon .content {
    background: white
}

.block-discover-promotions-with-icon .category-icon {
    max-height: 50px;
    max-width: 50px;
    height: 100%;
    object-fit: contain;
}

.block-discover-promotions-with-icon .category-title {
    font-size: 30px;
    margin: 0px 0px 0px 15px;
}

.block-discover-promotions-with-icon .category-showall {
    font-size: 15px;
    color: blue;
}

.block-discover-promotions-with-icon .card {
    border: 1px solid #C4C4C4;
    height: 100% !important;
    box-shadow: 0 4px 4px 0 #00000040;
    min-height: 300px;
    max-height: 300px;
}

.block-discover-promotions-with-icon .card-urllink {
    text-decoration: none;
}

.block-discover-promotions-with-icon .card-radius {
    /* margin-bottom: 2rem; */
    border-radius: 25px;
    overflow: hidden;
}

.block-discover-promotions-with-icon .card-img {
    width: 100%;
    object-fit: cover;
    min-height: 150px;
    max-height: 150px;
}

.block-discover-promotions-with-icon .card-body {
    padding: 1.25rem 2rem 1.25rem 2rem;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.block-discover-promotions-with-icon .card-body::-webkit-scrollbar {
    display: none;
}

.block-discover-promotions-with-icon .card-title, .card-content, .card-foot {
    color: #888888;
}

.block-discover-promotions-with-icon .card-title {
    font-size: 16px;
    font-weight: 600;
}

.block-discover-promotions-with-icon .card-content {
    font-size: 13px;
    font-weight: 200;
}

.block-discover-promotions-with-icon .card-foot {
    font-size: 12px;
    font-weight: 200;
}

.block-discover-promotions-with-icon .listing-carousel{
    position: relative;
}

/* carousel btn */
.block-discover-promotions-with-icon .carousel-button-prev,
.block-discover-promotions-with-icon .carousel-button-next {
    position: absolute;
    top:50%;
    width: 5rem;
    height: 5rem;
    background-color: #0768B3;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer; 
    z-index: 2;
}

.block-discover-promotions-with-icon .carousel-button-prev {
    left: 5px;
}

.block-discover-promotions-with-icon .carousel-button-next {
    right: 5px;
}

.block-discover-promotions-with-icon .carousel-button-next img,
.block-discover-promotions-with-icon .carousel-button-prev img {
    position: absolute;
    top: 50%;
    left: 50%;
}

.block-discover-promotions-with-icon .carousel-button-next img {
    transform: translate(-50%, -50%) rotate(90deg);
}

.block-discover-promotions-with-icon .carousel-button-prev img {
    transform: translate(-50%, -50%) rotate(-90deg);
}
/* carousel btn end */

.block-discover-promotions-with-icon .close-button-x {
    font-size: 40px;
}

.block-discover-promotions-with-icon .modal {
    padding-left: 0 !important;
    z-index: 10000 !important;
}

@media (min-width: 576px) {
    .block-discover-promotions-with-icon .modal-lg {
        max-width: 450px;
    }
}

@media (min-width: 992px) {
    .block-discover-promotions-with-icon .modal-lg {
        max-width: 900px;
    }
}

@media (min-width: 1200px) {
    .block-discover-promotions-with-icon .modal-lg {
        max-width: 1100px;
    }
}