.block-general-enquiries .bg-color {
    background: #F4F4F4;
}

.block-general-enquiries .header-text {
    font-size: 40px;
    font-weight: 400;
    color: #333333;
}

.block-general-enquiries .title-text {
    font-size: 18px;
    font-weight: 600;
    color: #444444;
    word-break: break-word;
}

.block-general-enquiries .subtitle-text {
    font-size: 18px;
    font-weight: 600;
    color: #444444;
    padding-right: 5px;
}

.block-general-enquiries .description-text {
    font-size: 18px;
    font-weight: 300;
    color: #888888;
    word-break: break-word;
}

.block-general-enquiries .link-text {
    text-decoration: none;
}

.block-general-enquiries .static-logo {
    max-width: 20px;
    max-height: 20px;
}

.block-general-enquiries .linkable-logo {
    height: 100%;
    max-width: 50px;
    max-height: 50px;
}

.block-general-enquiries .pr20 {
    padding-right: 20px;
}

.block-general-enquiries .pt5 {
    padding-top: 5px;
}

/* @media screen and (max-width: 992px) {
    
} */

@media screen and (max-width: 576px) {
    .block-general-enquiries .header-text {
        font-size: 34px;
    }

    .block-general-enquiries .subtitle-text {
        font-size: 16px;
    }
    
    .block-general-enquiries .description-text {
        font-size: 16px;
    }
}
