/* Custom Products Box Group (Security) */
.block-custom-products-box-group-security .button {
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #0768B3;
    width: 100%;
}

.block-custom-products-box-group-security .flex-container {
    display: flex;
}

.block-custom-products-box-group-security .button-text {
    font-size: 20px;
    font-weight: 300;
}

.block-custom-products-box-group-security .custom-products-box-group-img{
    width: 100%;
    max-height: 75px;
    min-height: 75px;
    object-fit: contain;
}

.block-custom-products-box-group-security .card {
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;
    height: 100% !important;
    /*box-shadow: 0 4px 4px 0 #00000040;*/
}

.block-custom-products-box-group-security .card-img {
    width: 100%;
    max-height: 200px;
    min-height: 200px;
    object-fit: cover;
}

.block-custom-products-box-group-security .card-radius {
    margin-bottom: 2rem;
    border-radius: 25px;
    overflow: hidden;
}

.block-custom-products-box-group-security .card-text {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
    text-align: center;
    color: #0768B3;

}

.block-custom-products-box-group-security .container {
    padding: 25px !important;
}

.block-custom-products-box-group-security .header {
    font-weight: 300;
    font-size: 48px;
    color: #888888;
    margin-left: 30px;
}

.block-custom-products-box-group-security .child-text-gray {
    color: darkgray;
    margin-top: -20px;
    font-size: 14px;
    text-align: center;
}

.block-custom-products-box-group-security .link-text-white {
    color: #fff;
}

.block-custom-products-box-group-security .next-btn,
.block-custom-products-box-group-security .previous-btn{
    background: #0768B3;
    border-radius: 50%;
    overflow: hidden;
    color: white;
    min-width: 50px;
    min-height: 50px;
    font-size: 30px;
}

.block-custom-products-box-group-security .carousel-wrapper {
    width: 100%;
}

.block-custom-products-box-group-security .carousel-wrapper * {
    box-sizing: border-box;
}

.block-custom-products-box-group-security .carousel {
    transform-style: preserve-3d;
}

.block-custom-products-box-group-security .carousel__photo {
    opacity: 0;
    position: absolute;
    top:0;
    width: 100%;
    z-index: 100;
    transition: transform .5s, opacity .5s, z-index .5s;
}

.block-custom-products-box-group-security .carousel__photo.initial,
.block-custom-products-box-group-security .carousel__photo.active {
    opacity: 1;
    position: relative;
    z-index: 900;
}

.block-custom-products-box-group-security .carousel__photo.prev,
.block-custom-products-box-group-security .carousel__photo.next {
    z-index: 800;
}

.block-custom-products-box-group-security .carousel__button--prev,
.block-custom-products-box-group-security .carousel__button--next {
    position: absolute;
    top:45%;
    width: 3rem;
    height: 3rem;
    background-color: #0768B3;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer; 
    z-index: 1001;
    border: 1px solid white;
}

.block-custom-products-box-group-security .carousel__button--prev {
    left:-15px;
}

.block-custom-products-box-group-security .carousel__button--next {
    right:0;
}

.block-custom-products-box-group-security .carousel__button--next img,
.block-custom-products-box-group-security .carousel__button--prev img {
    position: absolute;
    top: 50%;
    left: 50%;
}

.block-custom-products-box-group-security .carousel__button--next img {
    transform: translate(-50%, -50%) rotate(90deg);
}

.block-custom-products-box-group-security .carousel__button--prev img {
    transform: translate(-50%, -50%) rotate(-90deg);
}

/* Custom Products Box Group (Security) */