.block-property-under-auction .display-flow-root {
    display: flow-root;
}

.block-property-under-auction .header {
    display: table-cell;
    font-weight: lighter;
    font-size: 38px;
    color: #888888;
    cursor: pointer;
    padding: 5px 50px;
}

.block-property-under-auction .active {
    border-bottom: 4px solid #00ACFB;
}

.block-property-under-auction .header-2 {
    font-weight: lighter;
    font-size: 28px;
    color: #888888;
    cursor: pointer;
    color: #139ff7;
}

.block-property-under-auction .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding-left: 25px;
    padding-right: 25px;
}

.block-property-under-auction .content-header {
    color: #888888;
    font-weight: bold;
    font-size: 18px;
}

.block-property-under-auction .content-header-2 {
    color: #888888;
    font-weight: lighter;
    font-size: 20px;
}

.block-property-under-auction .pdf-icon img{
    size: 30px;
    margin-right: 20px;
}

.block-property-under-auction hr.solid-lightgrey-hr {
    border-top: 1px solid #C4C4C4;
}

.block-property-under-auction hr.dotted-lightgrey-hr {
    border-top: 1px dotted #C4C4C4;
    margin-top: 0px;
    margin-bottom: 10px;
}

.block-property-under-auction .link-text-blue {
    font-size: 20px;
    color: #00ACFB;
    font-weight: lighter;
}

.block-property-under-auction .display-inline {
    display: inline-block;
}

.block-property-under-auction .display-inline {
    display: inline-block;
}

.block-property-under-auction .text-grey {
    color: #888888;
    text-decoration: none;
}

.block-property-under-auction a:link {
    color: #0768B3 !important;
}

.block-property-under-auction a:visited {
    color: #0768B3 !important;
}

.block-property-under-auction a:active {
    color: #139ff7 !important;
}

.block-property-under-auction .accordion-symbol:after {
    color: #139ff7;
    content: ' \25B6';
    margin-right: 10px;
}

.block-property-under-auction .top-title {
    color: #139ff7;
    font-size: 32px;
    font-weight: 600;
}